<!-- File: .\app\components\projects\projects.component.html -->
<app-scene></app-scene>
<app-text-overlay [focusedPaper]="focusedPaper" (viewImage)="onPreviewImage($event)">
</app-text-overlay>

<div class="general-view-ui" [class.visible]="!focusedPaper">
  <h1 class="main-title">
    <img src="assets/images/EJC.svg" alt="EJC Logo" class="main-logo" />
  </h1>
  <!-- The tabs-container was here, now it's moved to app.html -->
</div>

@if (focusedPaper) {
  <button class="back-button" (click)="returnToGeneralView()">&#x21A9;</button>
}

@if (previewImageUrl) {
  <div
    class="image-preview-overlay"
    [class.visible]="isPreviewVisible"
    (click)="closePreview()">

    <img [src]="previewImageUrl" alt="Full-screen preview of the selected paper" />

  </div>
}